<div class="container">
  <header>
    <div class="header">
      <div class="content">
        <div class="navbar">
          <div class="nav_item1">
            <img src="../assets/med_logo.png" alt="logo" class="logo_img">
          </div>
          <div class="nav_item2">
            <div class="nav_menu">

              <span class="nav_menu_item"
              (click)="selectedItem = 'home'"
              [ngClass]="{'selected_item' : selectedItem == 'home'}">Home</span>

              <span class="nav_menu_item"
              (click)="selectedItem = 'Credentiating'"
              [ngClass]="{'selected_item' : selectedItem == 'Credentiating'}">
              Credentiating Organizations</span>

              <span class="nav_menu_item"
              (click)="selectedItem = 'hospitals'"
              [ngClass]="{'selected_item' : selectedItem == 'hospitals'}">Hospitals</span>

              <span class="nav_menu_item"
              (click)="selectedItem = 'reports'"
              [ngClass]="{ 'selected_item' : selectedItem == 'reports'}">Reports</span>
              
            </div>
          </div>
          <div class="nav_item3">
            <img src="../assets/user.png" alt="username" class="user_logo">
            <p class="username">Ericnel</p>
          </div>
        </div>
        <div class="tagline">
          <h2>Add Credentialing Organization</h2>
          <p class="subtagline">Onboard a new credentialing organization</p>
        </div>
      </div>
    </div>
  </header>
  <main class="main_container">
    <div class="login_container">
      <div class="left_content">

        <img src="../assets/login_2.jpg" alt="girl_with_a_laptop" class="login_image">
      </div>
      <div class="right_content">
        <div class="form">
          <div class="rows">
            <div class="row_content">
              <h4>Organization Name*</h4>
              <mat-form-field appearance="outline">
                <input matInput placeholder="university of california">
              </mat-form-field>
            </div>
           <div class="row_content">
             <h4>Country*</h4>
             <mat-form-field appearance="outline">
              <mat-select>
                <mat-option value="usa" selected>USA</mat-option>
              </mat-select>
            </mat-form-field>
           </div>
          </div>
          <div class="rows">
            <div class="row_content">
              <h4>Email Address*</h4>
              <mat-form-field appearance="outline">
                <input matInput placeholder="skinner@support.com">
              </mat-form-field>
            </div>
          </div>
          <div class="rows">
            <div class="row_content">
              <h4>Certificate Category*</h4>
              <mat-form-field appearance="outline">
                <input matInput placeholder="demographics">
              </mat-form-field>
            </div>
            <div class="row_content">
              <h4>Certificate*</h4>
              <mat-form-field appearance="outline">
                <mat-select>
                  <mat-option value="usa" selected>SSN</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="btn_row">
              <button mat-button class="add-button">Add</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>